.features {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
}

.features__list {
  .list-reset ();

  margin-bottom: 52px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.features__content {
  margin: 0;
  padding-top: 84px;

  background-repeat: no-repeat;

  &--ecology {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 8px 32px;
  }

  &--scandinavia {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 32px;
  }

  &--like {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 8px 35px;
  }

  &--handwork {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 4px 32px;
  }

  &--domestic {
    margin-left: -6px;
    padding-left: 6px;

    background-image: url("../img/icon-feature-rocket.svg");
    background-position: 0 32px;
  }

  &--present {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 4px 29px;
  }
}
