.form__text {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 32px;
  padding-top: 25px;

  font-size: 13px;
  line-height: 24px;
}

.form__fildset {
  width: 260px;
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  border: 1px solid #62d1ba;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  &--contacts {
    padding-top: 12px;
  }
}

.form__legend {
  padding-right: 27px;

  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #62d1ba;
}

.form__list {
  .list-reset();
}

.form__footer {
  width: 260px;
  margin: 0 auto;
}

.form__footnote {
  display: block;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;
}

.form__submit {
  margin-bottom: 55px;
}
