.main-nav__togle {
  position: absolute;
  top: 30px;
  right: 10px;

  border: none;

  background-color: transparent;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    left: -10px;
    top: 0;

    width: 29px;
    height: 5px;

    background-color: #221f1f;

    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: #666666;
  }

  &:active::before,
  &:active::after {
    background-color: #b2b2b2;
  }
}
