.promo {
  position: relative;
}

.promo__header {
  overflow: hidden;
}

.promo__image {
  position: relative;
  top: -18px;
  left: -127px;
  z-index: -1;

  display: block;
  width: 575px;
  max-width: none;
  margin-bottom: -91px;
}

.promo__title {
  position: absolute;
  top: 70px;
  left: 10px;

  margin: 0;
}

.promo__link {
  display: block;
  padding-left: 29px;
  padding-top: 26px;
  padding-bottom: 29px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;

  &--interior {
    background-color: #63d1bb;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 244px 23px;

    &:hover,
    &:focus {
      background-color: #59d5bc;
    }

    &:active {
      background-color: #59d5bc;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--toys {
    background-color: #56c3b2;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 233px 21px;

    &:hover,
    &:focus {
      background-color: #46c1ae;
    }

    &:active {
      background-color: #46c1ae;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: 768px) {
  .promo {
    position: relative;
    z-index: -2;

    background-color: #f9f9f9;

    &::after {
      content: "";

      position: absolute;
      bottom: -14px;
      z-index: 10;

      display: block;
      width: 768px;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: auto 23px;
    }
  }

  .promo__title {
    top: 153px;
    left: 50px;
  }

  .promo__image {
    top: -1px;
    left: -191px;
    width: auto;

    margin-bottom: -120px;
  }

  .promo__footer {
    display: flex;

    width: 668px;
    margin: 0 auto;
  }

  .promo__link {
    width: 50%;
    padding-left: 35px;
    padding-top: 28px;

    font-size: 20px;
    line-height: 30px;

    &--interior {
      background-position: 257px 30px;
    }

    &--toys {
      background-position: 240px 32px;
    }
  }
}
