.search {
  border-bottom: 1px solid #ececec;
}

.search__icon {
  display: flex;
  align-items: center;

  min-height: 78px;
  padding-left: 75px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 32px 31px;
}

.search__field {
  border: none;

  &::placeholder {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
  }

  &:focus,
  &:active {
    border: 1px solid #000000;
  }
}
