.site-list {
  .list-reset();
}

.site-list__item {
  border-bottom: 1px solid #ececec;

  &--hidden {
    display: none;
  }
}

.site-list__link {
  display: block;
  padding: 27px 0;
  padding-left: 76px;

  color: inherit;

  .link-status();
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    padding-left: 50px;

    font-size: 15px;
  }

  .site-list__item {
    border: none;
  }

  .site-list__link {
    width: 167px;
    padding: 17px 0;
  }
}

@media (min-width: 1250px) {
  .site-list {
    flex-wrap: wrap;
    order: -10;

    width: 471px;
    padding-left: 0;

    font-size: 17px;
  }

  .site-list__item {
    border-bottom: 1px solid #ececec;

    &--hidden {
      display: block;

      font-size: 15px;
    }

    &:first-child {
      border-right: 1px solid #ececec;
    }

    &:nth-child(n + 3) {
      border: none;
    }
  }

  .site-list__item:nth-child(-n + 2) .site-list__link {
    padding: 32px 0;
  }

  .site-list__item:nth-child(odd) .site-list__link {
    padding-left: 50px;
  }

  .site-list__item:nth-child(even) .site-list__link {
    padding-left: 35px;
  }

  .site-list__link {
    width: 235px;
  }
}
